body {
	background-color: #816687;
	color: #47404B;
	font-size: 13px;
}

header {

}

a {
	text-decoration: none;
	color: #47404B;
}

a:visited {
	color: #47404B;
}

a:hover {
	color: #C0C0C0;
}

a:active {
	color: #C0C0C0;
}

.main {
	max-width: 970px;
	margin: 0 auto;
	padding: 0;
	width: 80%;
}

.mid_color {
	background-color: #4F2F4F;
	width: 100%;
	margin-right: 0 auto;
	right: 0;
	border-top: 2px solid #B4B1B4;
}

.horizontal_rule {
    background-image: url('/images/body_background.png');
    min-height: 40px;
    width: 100%;
    margin-right: 0 auto;
    float: left;
}

/**********************************
		Nav Bar
**********************************/

#main_menu {
	text-align: right; 
	color: #4F2E4F;
	font-size: 1em;
	font-weight: bold;
}

#main_meunu ul {
	margin: 50px 0;
}

#main_menu li {
	list-style: none;
	display: inline-block;
	padding: 30px 10px 30px 0;
}

#main_menu a {
	text-decoration: none;
	margin: 10px;
	padding: 3px;
	color: #4F2F4F;
}

#main_menu a:visited {
	
}

#main_menu a:hover {
	border-top: 5px solid #4F2F4F;
}

#main_menu a:active {

}

.current_page {
	border-top: 5px solid #C0C0C0;
}

/**********************************
		End Nav Bar
**********************************/

/**********************************
		Slider
**********************************/

.slider-wrapper { 
	width: 60%; 
	margin: 100px auto;
}

/**********************************
		End Slider
**********************************/


/**********************************
		Main Content Bar
**********************************/

.main_content {
	
}

.main_content>article {
	float: left;
	width: 25%;
	margin-top: -50px;
}

.main_content figure {
	margin: 0 auto;
	padding: 0;
}

.main_content h1 {
	background-color: #C0C0C0;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.main_content ul {
	list-style: none;
	padding: 0 20px 50px;
}

.main_content p {
	padding: 0 20px;
}

.main_content li, {
	margin: 0;
}

/**********************************
		End Main Content Bar
**********************************/

/**********************************
		Main Footer Bar
**********************************/

.main_footer>article {
	width: 19%;
	float: left;
	text-align: left;
	margin: 3%;
}

.main_footer h1 {
	color: #C0C0C0;
	font-size: 1em;
	text-align: left;
}

.main_footer ul {
	padding: 0;
	margin: 0;
}

.main_footer li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#facebook {
    background: url(/images/facebook_icon.png) no-repeat;
}

#pinterest {
    background: url(/images/pinterest_icon.png) no-repeat;
}

/**********************************
		End Main Footer Bar
**********************************/